body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header h1 {
    background-color: brown;
    color: white;
    text-align: center;
    max-width: 80%;
    margin: 0 auto;
    padding: 1rem;
    border-radius: 1em;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
    background-color: brown;
    color: white;
    text-align: center;
    max-width: 80%;
    margin: 1em auto;
    padding: 1em;
    border-radius: 2em;
}